/* Isto é um comentário em css*/

/*
    Variáveis CSS para facilitar a manutenção de estilos
    Útil também para mudar as cores para modo claro/escuro
*/
:root {
  --cor-fundo: #121917;

  --cor-texto-1: #1E1E1E;
  --cor-texto-2: #D9D9D9;

  --cor-conteudo-1: #D9D9D9;
  --cor-conteudo-2: #1E2C27;

  --cor-botao-especial: #6FAF8F;

  --cor-popup: #5E3E2D;

  --arredondamento: 20px;

  /* 1vw = 1% do tamanho da janela atual */
  --espacamento-muito-pequeno: 1vw;
  --espacamento-pequeno: 4vw;
  --espacamento-grande: 8vw;
}

/*
    Estilo para a camada de fundo da página
*/
body {
    /* Define a cor de fundo da página como a cor de fundo definida nas variáveis */
    background-color: var(--cor-fundo);
}

/*
    Estilo para a botão de retroceder
*/
#back {
    /* Define a altura da barra de navegação para 5 vezes o valor de um caractere no ecrã */
    height: var(--espacamento-pequeno);
    /* Define o layout da div como flexbox para organizar os elementos em linha */
    display: flex;
    /* Define o layout da div como linha */
    flex-direction: row;
    /* Conteúdo no fim */
    justify-content: start;

    flex: 1; 
}

/*
    Estilo para a barra de navegação
*/
#navbar {
    /* Define a altura da barra de navegação para 5 vezes o valor de um caractere no ecrã */
    height: var(--espacamento-pequeno);
    /* Define o layout da div como flexbox para organizar os elementos em linha */
    display: flex;
    /* Define o layout da div como linha */
    flex-direction: row;
    /* Conteúdo no fim */
    justify-content: end;

    flex: 1;
}

/*
    Estilo para imagens na barra de navegação
*/
#navbar img {
    /* Altura preenche o espaço daquilo em que está inserida */
    height: 100%;
    /* Força a imagem a ficar nas porporções 1:1 de altura por largura */
    aspect-ratio: 1 / 1;
    /* Evita distorção */
    object-fit: cover;
}

/*#guess {*/
    /* Empurra a input de adivinhar palavras para o fim da div em que está inserida */
    /*margin-top: auto;*/
/*}*/

/*
    Estilo para criar espaço pequeno vazio
*/
.espacoPequeno {
    /* Define a altura do espaço para 5 vezes o valor de um caractere no ecrã */
    height: var(--espacamento-pequeno);
}

/*
    Estilo para criar espaço grande vazio
*/
.espacoGrande {
    /* Define a altura do espaço para 10 vezes o valor de um caractere no ecrã */
    height: var(--espacamento-grande);
}

/*
    Estilo para a div da classe "nomeDoJogo"
    !!!IMPORTANTE!!! Para remover se fizermos a cena dos blocos
*/
div.nomeDoJogo {
    /* Cor de fundo da div */
    background-color: var(--cor-conteudo-1);
    /* Arredonda os cantos da div */
    border-radius: var(--arredondamento);

    /*
        Ajusta a largura de acordo com o conteúdo + espaço de padding
        Altura automática
    */
    width: fit-content;
    padding: 0.5rem;
    height: auto;

    /*
        Centraliza a div horizontalmente naquilo em que está inserida
    */
    margin-left: auto;
    margin-right: auto;

}

/*
    O seletor :is(h1, h2, h3, h4, h5, h6)
    é utilizado para aplicar as mesmas regras de estilo a todos os níveis de títulos
*/
.titulo:is(h1, h2, h3, h4, h5, h6) {
    /* Centraliza o texto dos títulos naquilo em que estão inseridos*/
    text-align: center;
}
.escuro {
    /* Define a cor de títulos como a cor de texto 1 definida nas variáveis */
    color: var(--cor-texto-1);
}
.claro {
    /* Define a cor de títulos como a cor de texto 2 definida nas variáveis */
    color: var(--cor-texto-2);
}
.popUpTit {
    /* Define a cor de títulos como a cor de pop ups definida nas variáveis */
    color: var(--cor-popup);
}

/*
    Estilo para divs da classe "linha"
*/
.linha {
    /* Define o layout da div como flexbox para organizar os elementos em linha */
    display: flex;
    /* Define o espaço entre os elementos para 5 vezes o valor padrão de um caractere no ecrã*/
    gap: var(--espacamento-pequeno);
}

.linha2 {
    /* Define o espaço entre os elementos para 2% da altura/largura da janela atual */
    min-height: 2vw;
}

/*
    Estilo para divs da classe "coluna"
*/
.coluna {
    /* Define o layout da div como flexbox para organizar os elementos em linha */
    display: flex;
    flex-direction: column;
    /* Define o espaço entre os elementos para 1% da altura/largura da janela atual */
    gap: var(--espacamento-muito-pequeno);
}

.conteudoPrincipal {
    /* Define a altura do conteúdo principal da página para 60% da altura da janela atual */
    height: 60vh;
    
    display: flex;
}

/*
    Estilo para divs da classe "content"
*/
div.content {
    /* Permite que a div cresça para ocupar o espaço disponível naquilo em que está inserida */
    flex: 1;

    /*
        Define o layout da div como flexbox para organizar os elementos em coluna
        e centralizar os elementos verticalmente
    */
    display: flex;
    flex-direction: column;
}

.popUp {
    /* Todos os conteudos ficam em "caixas" "castanhas" */
    background-color: var(--cor-popup);
    /* Arredonda os cantos da div */
    border-radius: var(--arredondamento);
    /* Define a altura do conteúdo principal da página para 72% da altura da janela atual */
    height: 72vh;
    /* flex box */
    display: flex;
}

/*
    Estilo para divs da classe "visibleContent"
*/
div.visibleContent1 {
    /* Todos os conteudos ficam em "caixas" "brancas" */
    background-color: var(--cor-conteudo-1);
    /* Arredonda os cantos da div */
    border-radius: var(--arredondamento);
    /* Evita que o conteúdo dentro da div ocupe até as bordas */
    padding: var(--espacamento-muito-pequeno);
}

/*
    Estilo para divs da classe "visibleContent"
*/
div.visibleContent2 {
    /* Todos os conteudos ficam em "caixas" "verdes" */
    background-color: var(--cor-conteudo-2);
    /* Arredonda os cantos da div */
    border-radius: var(--arredondamento);
    /* Evita que o conteúdo dentro da div ocupe até as bordas */
    padding: var(--espacamento-muito-pequeno);
}

.opcao {
    /* Centraliza o texto naquilo em que estão inseridos*/
    text-align: center;
    /* Define a cor de títulos como a cor de texto 1 definida nas variáveis */
    color: var(--cor-texto-1);
    /* Vai para baixo, o quanto possível, naquilo em que está inserido */
    margin-top: auto;
    /* Define um espaço de 1 vez o valor padrão de um caractere no ecrã entre o conteúdo da div e a borda inferior da div */
    padding-bottom: 1rem;
}

.logOff {
    /* Centraliza o texto naquilo em que estão inseridos*/
    text-align: center;
    /* Define a cor de títulos como a cor de texto 2 definida nas variáveis */
    color: var(--cor-texto-2);
}

.continuar {
    /* Define a cor de fundo para cor de botão especial*/
    background-color: var(--cor-botao-especial);
    /* Arredonda os cantos da div */
    border-radius: var(--arredondamento);
    /* Define a altura para 8% da altura da janela atual */
    height: calc(var(--espacamento-pequeno)*2);
    /* Define a largura para 30% do item em que está inserido */
    width: 30%;
    /* Centraliza horizontalmente*/
    margin: 0 auto;

    /*
        Centraliza os itens
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------------------------------------------- */

.pad {
    padding: var(--espacamento-muito-pequeno);
}

div.flexiona {
    flex: 1;
}

div.flexiona2 {
    flex: 2;
}

.txtXL {
    font-size: var(--espacamento-pequeno);
}

.fullWidth {
    width: 100%;
}

.contentSpace {
    justify-content: space-around;
}

.contentEnd {
    justify-content: end;
}

.contentMore {
    flex: 2;

    /*
        Define o layout da div como flexbox para organizar os elementos em coluna
        e centralizar os elementos verticalmente
    */
    display: flex;
    flex-direction: column;
}

.flexCenter {
    /*
        Centraliza os itens
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Específico para a página singlePlayer.html */
.container.conteudoPrincipal.visibleContent2 .content {
    justify-content: space-between;
}